amqp==2.2.2
argcomplete==1.9.2
base58==0.2.4
billiard==3.5.0.3
boto3==1.5.24
botocore==1.8.38
celery==4.1.0
certifi==2018.1.18
cffi==1.11.4
cfn-flip==1.0.0
chardet==3.0.4
click==6.7
contextlib2==0.5.5
Django==1.11.8
django-admin-bootstrapped==2.5.7
django-authtools==1.6.0
django-braces==1.12.0
django-crispy-forms==1.7.0
django-environ==0.4.4
djangorestframework==3.7.7
docutils==0.14
durationpy==0.5
easy-thumbnails==2.5
future==0.16.0
futures==3.1.1
hjson==3.0.1
idna==2.6
jmespath==0.9.3
kappa==0.6.0
kombu==4.1.0
lambda-packages==0.19.0
Pillow==9.0.1
placebo==0.8.1
psycopg2==2.7.3.2
pycparser==2.18
python-dateutil==2.6.1
python-slugify==1.2.4
pytz==2017.3
PyYAML==3.12
rabbitmq==0.2.0
raven==6.5.0
redis==2.10.6
requests==2.18.4
s3transfer==0.1.12
six==1.11.0
toml==0.9.4
tqdm==4.19.1
troposphere==2.2.0
Unidecode==1.0.22
urllib3==1.22
vine==1.1.4
Werkzeug==0.12
wsgi-request-logger==0.4.6
zappa==0.45.1
django-cors-headers==2.1.0